<%- include("./partials/header.ejs") -%>


  <body>
    <!-- Navigation -->
  <%- include("./partials/navigation.ejs") -%>


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1><%= post.title %></h1>
              
              <span class="meta"
                >Posted by
                <a href="#">Start Bootstrap</a>
                on August 24, 2019</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
          <div class="clearfix">
            <a class="btn btn-primary float-right ml-3"  href="/post/edit/<%= post._id %>"
            >Update Post </a>
            <a class="btn btn-danger float-right" href="/post/<%= post._id %>?_method=DELETE"
            onclick="confirm('Are you sure?')">Delete Posts </a>
          </div>
          
          <p>
             <%= post.detail %>
          </p>
            
          </div>
             
        </div>
        
      </div>
    </article>

    <hr />

    <!-- Footer -->

    <%- include("./partials/footer.ejs") -%>
  </body>
</html>
